body {
    background-color: rgba(128, 128, 128, 0.685);
    margin: 0px;
    text-align: start;
    font-family: 'Open Sans', sans-serif;
}

title {
    margin: 20px;
    padding: 0px;
}
header {
    margin: 20px;
}

a {
    color: rgb(7, 7, 7);
    text-align:center;
}


.item { 
    order: 5;
}

.mainContainer {
    display:flex;
    flex-direction: row;
}

.bluediv {
    color: white;
    background-color: rgba(180, 180, 180, 0.747);
    margin: 0px;
    padding: 20px;
    flex: 1 0 0px;
    min-height: 100vh;
    align-items: center;
}

.whitediv {
    flex: 4 0 0px;
    background-color: white;
    min-height: 100vh;
    padding: 20px;
    flex: 1 0 0px;
    min-height: 100vh;
}

footer {
    text-align: center;
    background-color: rgb(136, 140, 150);
}

.suitpic {
    width: 200px;
    height: 300px;
}

img {
width: 100%;
height: inherit;
object-fit: cover;
}

@media screen and (max-widht:720px){
    .mainContainer {
        flex-direction:column;
    }
}

.cvlink {
    text-align:center;
}

.box1{
    display: flex;
    width: 500px;
    height: 300px;
}
.box2{
    display: flex;
    width: 500px;
    height: 300px;
}
.box3{
    display: flex;
    width: 500px;
    height: 300px;
}
